{% extends 'layout.njk' %}

{% block content %}
    <section class="container_chefs">
        </div>
        <div class="chefes">
            {% for chef in chefs %}
                <div class="chef">
                    <img src="{{chef.avatar_url}}" alt="">
                    <div class="chef_name">
                        <h3 class="nome">{{chef.name}}</h3>
                    <div class="chef_recipes">{{chef.total_recipes}} receitas</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    
{% endblock content %}