{% extends 'layout.njk' %}

{% block title%}
    <title>{{receita.title}}</title>
{%endblock%}


{% block content%}
     <section class="receita">
        <div class="banner-img">
            <img src="{{receita.image}}" alt="Imagem de {{receita.image}} ">
        </div>
        <div class="card-title">
           <h1>{{receita.title}}</h1>
           <p>por {{receita.author}}</p>
        </div>
        <div class="topic " id="ingredients">
        <h1>Ingredientes <a>ESCONDER</a></h1> 
        <div class="topic-content">
            <ul>
               {% for ingredient in receita.ingredients%}
               <li>{{ingredient}}</li>
               {%endfor%}
            </ul>
        </div>
        </div>
        <div class="topic" id="preparation">
        <h1>Modo de preparo <a>MOSTRAR</a></h1> 
           <div class="topic-content hidden">
            <ul>
               {% for preparation in receita.preparation%}
               <li>{{preparation}}</li>
               {%endfor%}
            </ul>
          </div>
        </div>
        <div class="topic" id="information">
        <h1>Informações adicionais<a >MOSTRAR</a></h1> 
        <div class="topic-content hidden">
            <p>{{receita.information}}</p>
        </div>
        </div>
    </section><!-- banner -->
    <script src="/js/script.js"></script>
{%endblock%}