{% extends "admin.njk" %}

{% block content %}

<form class="card" method="POST" action="/receitas">
    <section class="details">

        <h3>Criando receita</h3>

        {% include 'admin/recipes/fields.njk' %}

    </section>
</form>

{% endblock content %}