{% extends "admin.njk" %}

{% block content %}

<form class="card" method="POST" action="/admin/recipes">
    <section class="details">

        <h3>Criando receita</h3>
    <button type="submit">Salvar receita</button>


        {% include 'admin/recipes/fields.njk' %}

    </section>
</form>

{% endblock content %}