{% extends "admin.njk" %}

{% block content %}

<div class="card">

    <section class="details">

    <form method="POST" action="/receitas?_method=PUT">
        
            <h3>Editar receita</h3>

           
{% endblock content %}