<div class="item">
    <div class="title">Nome</div>
    <div>
        <input 
            type="text"
            name="name"
            value="{{ chef.name }}"
        >
    </div>
</div>
<div class="item">
    <div class="title">Avatar</div>
    <input type="text" id="chef-avatar-input-text" name="avatar_url" value="{{file.src}}" readonly="readonly" style="margin-bottom: 15px">
    <div class="chef_button">
        Enviar Avatar
        <input 
            id="photo_chef"
            type="file"
            name="avatar_url"
            value="{{file.src}}"
            accept="image/*"
            onchange="PhotosUpload.handleFileInput(event)"
        >
    </div>
</div>
