{% extends 'admin.njk' %}

{% block content %}
    <section class="container">
        <div class="title">
            <h2>Gerenciar chefs</h2>
            <a class="btn" href="/admin/chef/create">Novo chefe</a>
        </div>
        <div class="chefes">
            {% for chef in chefs %}
                <div class="chef">
                    <img src="{{chef.src}}" alt="">
                    <div style="padding-left: 20px;">
                        <h3 class="nome">{{chef.name}}</h3>
                        <a href="/admin/chef/{{chef.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    
{% endblock content %}