{% extends "admin.njk" %}

{% block content %}

<section class="card">
    <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
<section class="details">
        <div class="header">
            <h3>Cadastrar receita</h3>
        </div>


        <div class="fields">
            {% include 'admin/recipes/fields.njk' %}
        </div>

        <button class="button" type="submit">Salvar receita</button>
        </section>
    </form>
</section>

{% endblock content %}