{% extends "admin.njk" %}

{% block content %}

<div class="card">
    <form method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data" >
<section class="details">
        
        <h3>Editando receita</h3>
    <button type="submit">Salvar receita</button>

        <div class="fields">
            {% include 'admin/recipes/fields.njk' %}
        </div>
        <input type="hidden" name="id" value="{{recipe.id}}">
        </form>

        <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
        <button type="submit">Deletar</button>
        
        <input type="hidden" name="id" value="{{recipe.id}}">
    </form>

    </section>

{% include 'admin/recipes/delete.njk' %}

{% endblock content %}