<div class="header1">
        <form action="/main/searchpage" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Buscar uma receita"
                value="{{ filter }}"
            >
            <button type="submit">Buscar</button>
        </form>
    </div>